<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <h1>awdawdaw</h1>
    <ul>
        {{#each products}}
        <li>
            <a href="/products/{{this.name}}">{{this.name}}</a>
        </li>
        {{/each}}
    </ul>
</body>
</html>